/* Normal desktop :1200px. */
// max-width: 1500px, min-width:1200px
 @include mediaQuery(1500px,1200px){
body {font-size: 18px;}
}

/* Normal desktop :992px. */
// max-width: 1200px, min-width:992px
 @include mediaQuery(1200px,992px){

}


/* Tablet desktop :768px. */
// max-width: 991px, min-width:768px
 @include mediaQuery(991px,768px){

}


/* small mobile :320px. */
// max-width: 767px
 @include mediaQuery(767px){


}

/* Large Mobile :480px. */
// max-width: 767px, min-width:480px
 @include mediaQuery(767px,480px){
.container {width:450px}

}
