.wrapper{
  width: 100%;
  box-sizing: border-box;
  position: relative;

}
#map{
	width:100%;
	min-height: 450px;
	height: 100%;
}
.form-group{
	position: relative;
}
.background-image {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}
.background-no-repeat {
	background-repeat: no-repeat
}
.dtable {
	display: table;
	width: 100%;
	height: 100%;
 	.dtable-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle
}

}

.hidden {
  display: none;
}
.img {
	width:100%;
	max-width: 100%;
	transition: all 0.3s ease-out 0s;
}
.img-left{
	width:100%;
	max-width:50px;
}
.img-right{
	width:100%;
	max-width:50px;
}
.f-left {
	float: left !important;
}
.f-right {
	float: right !important;
}
.fix {
	overflow: hidden !important;
}
.height-100{
	height: 100vh;
}
.height-fix{
	height: 250px;
}

// Prefix for Hover class names
$nameSpace: 'mi-button' !default;

// Durations
$fastDuration: .1s !default;
$mediumDuration: .3s !default;
$slowDuration: .5s !default;

// Colors
$primaryColor: #e1e1e1 !default;
$secondaryColor: #666 !default;
$highlightColor: #ccc !default;
$activeColor: #2098D1 !default;
$shadowColor: rgba(0, 0, 0, .6) !default;

// Speech bubbles options
$tipWidth: 10px !default;  //the width of the speech bubble tip
$tipHeight: 10px !default; //the height of the speech bubble tip
$tipColor: $primaryColor !default;

// Arrows options
$spaceBetweenTextAndArrows: 2.2em !default;

// Curl dimensions
$curlWidth: 25px !default;
$curlHeight: 25px !default;

// Curl colors
$revealAreaColor: white !default;    // reveal area behind the curl
$curlLineColor: #aaa !default;       // crease line
$curlTransitionColor: #ccc !default;	// color transitioning from crease line to final color
$curlLastColor: white !default;		// final color of the back of the curl

// Browser Prefixes - Which CSS prefixes should be used?
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

// Compile with or without classes
$includeClasses: true !default;