// for loop
// @for $var from <start> through <end>

@for $space from 1 through 40
{
	.mt-#{$space}
	{
		margin-top:5px * $space !important;
	}
	.mb-#{$space}
	{
		margin-bottom:5px * $space !important;
	}

	.ml-#{$space}
	{
		margin-left:5px * $space !important;
	}
	.mr-#{$space}
	{
		margin-right:5px * $space !important;
	}

	.pt-#{$space}
	{
		padding-top:5px * $space !important;
	}
	.pb-#{$space}
	{
		padding-bottom:5px * $space !important;
	}

	.pl-#{$space}
	{
		padding-left:5px * $space !important;
	}
	.pr-#{$space}
	{
		padding-right:5px * $space !important;
	}
	
}
// While loop
// @while $var something int

$num: 1;
@while $num < 12{

	$width: percentage(1 / $num);
	.grid-#{$num}
	{
		width:$width;
	}
	$num: $num + 1;
}

// EACH loop
// @each key, value in array {}

$gray : #f7f7fd;
$white : #fff;
$black : #000;
$red : #f00;
$purple : #339;
$primary : #ccc;
$secondary : #333;

$colours:(
'gray':$gray,
'white':$white,
'black':$black,
'red':$red,
'primary':$primary,
'secondary':$secondary
);

@each $colour , $hex in $colours
{
	// .text-white{color:#fff;}
	.text-#{$colour}{
		color:$hex;
	}

	.bg-#{$colour}{
		background-color:$hex;
	}
}