/* header sticky */
.header-sticky.sticky{
	@include sticky;
}
/*  Page Banner */
#inner-banner{
	@include banner;
z-index: 99;
	.jumbotron{
		background:none;
	}
}
/* button  */
.btn {
	@include button;
}
/*  Scroll up */

#scrollUp {
	background: #7DBA2F;
	height: 35px;
	width: 35px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 34px;
}
#scrollUp:hover {
	background: #444;
}

/*  loader  */

#mi-loader{
	position: fixed;
    top: 0;
    left: 0;
	background: rgb(255,255,255);
	background-color: #e74c3c;
    z-index: 9999;
    height: 100%;
    width:100%;
   /*  .loader{
	@include loader;
    } */
}